.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  margin-top: 144px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 100%;
  max-width: 620px;

  .text {
    h1 {
      font-weight: 700;
      font-size: 42px;
      line-height: 51px;

      color: #000000;
    }

    p {
      margin-top: 34px;

      font-weight: 400;
      font-size: 19px;
      line-height: 25px;

      color: #000000;

      span {
        font-weight: bold;
      }
    }
  }
  button {
    margin-top: 55px;
  }

  .sevenDays {
    margin-top: 40px;

    display: flex;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(102, 102, 102, 0.35) 0%,
      rgba(102, 102, 102, 0) 100%
    );
    border-radius: 12px;
    padding: 34px 34px;

    font-size: 16px;

    p {
      font-size: 16px;
      margin-top: 0;
      margin-left: 13px;
    }
  }

  .client {
    margin-top: 21px;

    display: flex;
    align-items: center;

    p {
      margin-left: 13px;

      span {
        margin-left: 8px;
        color: var(--primary);
      }
    }
  }
}

.rigth {
  button {
    display: none;
  }
}

@media (max-width: 1050px) {
  .content {
    flex-direction: column;
    margin-top: 55px;
  }

  .left {
    button {
      display: none;
    }
    .client {
      flex-direction: column;
    }
  }

  .rigth {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-height: 360px;
    }
    button {
      display: block;
      margin-top: 34px;
    }
  }
}

@media (max-width: 775px) {
  .rectangle {
    top: -133px;
    left: -48px;
  }

  .left {
    text-align: center;
    .text {
      h1 {
        font-weight: 700;
        font-size: 29px;
        line-height: 34px;
        color: #000000;
      }
      p {
        margin-top: 13px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .sevenDays {
      margin-top: 13px;
      padding: 24px;

      flex-direction: column;

      img {
        width: 100%;
        max-width: 89px;
      }
    }
  }
  .rigth {
    margin-top: 21px;

    img {
      max-height: 320px;
    }
  }
}
